/* Links */
.link {
  text-decoration: none;
}

.sidebarLink {
  border: 3px solid red;
}

.sidebarLinkActive {
  background-color: var(--color-primary);
}

/* Layout */
.layout {
  display: flex;
  max-width: var(--layout-max-width);
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.logo {
  background: lightgray;
}

.pageContent {
  display: flex;
  min-height: 100vh;
}